@page "{id:int?}"
@model ScriptureJournal.Pages.Scriptures.DetailsModel

@{
  ViewData["Title"] = "Scriptures";
}

<h2>Details</h2>

<div>
  <h4>Scripture</h4>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Scripture.Book)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Scripture.Book)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Scripture.Chapter)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Scripture.Chapter)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Scripture.Verse)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Scripture.Verse)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Scripture.Note)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Scripture.Note)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Scripture.AddedDate)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Scripture.AddedDate)
    </dd>
  </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Scripture.ID" class="button">Edit</a>
    <a asp-page="./Index" class="button">Back to List</a>
</div>
