@page
@model ScriptureJournal.Pages.Scriptures.IndexModel

@{
    ViewData["Title"] = "View Scripture Journal";
}

<h2>Index</h2>

<p>
    <a asp-page="Create" class="button">Add New Scripture Entry</a>
</p><br /><br />

<form>
  <p>
    <select asp-for="SearchBook" asp-items="Model.Books">
      <option value="">All Books</option>
    </select>

    <input asp-for="SearchString" type="text" name="SearchString" placeholder="Keyword">

    <input asp-for="SortBy" type="hidden"/>
    <input type="submit" value="Search" />
  </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <a href="./Scriptures?SearchBook=@Model.SearchBook&SearchString=@Model.SearchString&sortBy=Book">@Html.DisplayNameFor(model => model.Scripture[0].Book)</a>
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Scripture[0].Chapter) and @Html.DisplayNameFor(model => model.Scripture[0].Verse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Scripture[0].Note)
            </th>
            <th>
              <a href="./Scriptures?SearchBook=@Model.SearchBook&SearchString=@Model.SearchString&sortBy=Date">@Html.DisplayNameFor(model => model.Scripture[0].AddedDate)</a>
</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Scripture) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chapter):@Html.DisplayFor(modelItem => item.Verse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
